body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle, rgb(46, 44, 46) 0%, rgb(143, 138, 143) 28%, rgb(44, 41, 44) 32%, black 100%);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 22px;


}

.weather {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    white-space: nowrap;
    margin-bottom: 20px;
}

.weather_search {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 20px;
    color: inherit;
    border-radius: 12px;
}

.weather_search::placeholder {
    color: grey;
}

.weather_today {
    display: flex;
    justify-content: space-between;
flex-wrap: wrap;
}

.Weather_image {
    width: 30vmin;
    align-self: center;
}


.weather_city {
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
}

.weather_day {
    font-size: 30px;
    margin: 10px, 0;
    font-weight: 400;
}

.wether_indicator::before {
    content:'';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right: 10px;

}

.weather .weather_indcator--humidity::before {
    background-image:url(images/humidity.png);


}

.weather_indicator--wind::before {
      background-image:url(images/wind.png);
}

.weather_indicator--pressure::before {
background-image:url(images/pressure.png);
}

.weather_tempreture{
    font-size: 60px;

}
.weather_forecast{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
}
.weather_forecast_icon{
    max-width: 50%;

}
.weather_forecast_item{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 0 10px 10px;
    padding: 30px 5px 20px;
    box-sizing: border-box;
    min-width: 150px;
    width: calc(20% - 20px);
    flex: grow 1;;


}